@font-face {
    font-family: 'Bebas Neue';
    src: url('./font/BebasNeue-Regular.woff2') format('woff2'),
        url('./font/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Regular.woff2') format('woff2'),
        url('./font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    animation: fadeIn 700ms ease-in-out;
  }
  

.fade-out {
    animation: fadeOut 700ms ease-in-out;
  }
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.tersembunyi {
  opacity: 0;
  transform: translateY(-20%);
}

.slide-down {
  opacity: 1;
  transform: translateY(0%);
  transition: all;
  transition-duration: 700ms;
}

.tersembunyi-footer {
  opacity: 0;
  transform: translateY(20%);
}

.slide-up {
  opacity: 1;
  transform: translateY(0%);
  transition: all;
  transition-duration: 700ms;
}

#tittle.tersembunyi-hero {
  opacity: 0;
}

#hero-landing-left.tersembunyi-hero {
  opacity: 0;
  transform: translateX(-5%);
}

#hero-landing-right.tersembunyi-hero {
  opacity: 0;
  transform: translateX(5%);
}

#tittle.slide {
  opacity: 1;
  transition: all ease-in-out;
  transition-duration: 700ms;
}

#hero-landing-left.slide {
  opacity: 1;
  transform: translateX(0%);
  transition: all ease-in-out;
  transition-duration: 700ms;
}

#hero-landing-right.slide {
  opacity: 1;
  transform: translateX(0%);
  transition: all ease-in-out;
  transition-duration: 700ms;
}

.tersembunyi-fade {
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: all ease-in-out;
  transition-duration: 700ms;
}

#bg-black.fade {
  opacity: 0.6;
  transition: all ease-in-out;
  transition-duration: 700ms;
}







